
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;500;600&display=swap');

:root{
    font-size: 65.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.6rem;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
}

.container{
    max-width:40rem;
    margin: 2rem auto 0 auto;
    background-color: #fff;
    padding: 2rem;
}
.wrapper{
    display: flex;
    gap: 6rem;
}
.wrapper div{
    width: 50%;
}
form{
    margin-top: 1rem;
}
form label,
form input, 
form button{
    width: 100%;
    display: block;
    padding:.8rem 0;
    outline: 0;
}

form input{
    border-radius: .5rem;
    border: .1rem solid #000;
    padding-left: 1rem ;
}
form button{
    margin-top: 2rem;
    padding: 1rem;
    background: linear-gradient(to right, #2a0845, #6441A5);
    border: 0;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
}
form button:hover{
    background: linear-gradient(to right, #6441A5, #2a0845);
}

.p-resultado, .p-bad{
   background-color: rgb(39, 160, 39);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin-top: 2rem;
    font-weight: bold;
}
.p-bad{
    background-color: red;
}